// styles.scss
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

$font-light: 'Roboto Light', sans-serif;
$font-normal: 'Roboto', sans-serif;
$font-bold: 'Roboto Bold', sans-serif;
$font: $font-normal;
$primary-color: #333;
$primary-color-light: #f2f2f2;
$logo-color: #fff;
$header-image:'../images/redriver72-web.jpg';
$pimg2:'https://static.pexels.com/photos/238622/pexels-photo-238622.jpeg';
$pimg3:'https://static.pexels.com/photos/302804/pexels-photo-302804.jpeg';
$background-light: #f4f4f4;
$background-dark: #333;
$break-point-mobile: '768px';
body, html{
  font: 16px $font;
  font-weight:400;
  color: $primary-color;
  height:100%;
  margin:0;
  line-height:1.8em;
}

/*header*/
.pimg1,.pimg2,.pimg3{

  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: scroll;
}
.pimg1{
  background-image: url($header-image);
  min-height: 100%;
}
.pimg2{
  background-image: url($pimg2);
  min-height: 400px;
}
.pimg3{
  background-image: url($pimg3);
  min-height: 400px;
}
.brand__logo{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  font-family: $font-light;
  font-size: 47px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color:$logo-color;
}
section{
  text-align: center;
  padding:50px 80px;
}
.section-dark{
  background-color: $background-dark;
  color: $primary-color-light;
}
.section-light{
  background-color: $background-light;
}


/*mazonry*/
.mazonry{
  column-count: 1;
  column-gap: 0;
}
.item { /* Masonry bricks or child elements */
    background-color: $primary-color-light;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.item img{
  width:100%;
}
/*dektop*/
@media screen and (min-width: $break-point-mobile) {
  .pimg1,.pimg2,.pimg3{
    background-attachment: fixed;
  }
  .mazonry{
    column-count: 3;
    column-gap: 0.2em;
  }
}
