@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
$font-light: 'Roboto Light', sans-serif;
$font-normal: 'Roboto', sans-serif;
$font-bold: 'Roboto Bold', sans-serif;
$font: $font-normal;

$primary-color: #333;
$primary-color-light: #f2f2f2;
$logo-color: #fff;
$header-image:'../images/redriver72-web.jpg';
$pimg2:'https://static.pexels.com/photos/238622/pexels-photo-238622.jpeg';
$pimg3:'https://static.pexels.com/photos/302804/pexels-photo-302804.jpeg';
$background-light: #f4f4f4;
$background-dark: #333;
$break-point-mobile: '768px';
