@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900");
body, html {
  font: 16px "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
  height: 100%;
  margin: 0;
  line-height: 1.8em; }

/*header*/
.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; }

.pimg1 {
  background-image: url("../images/redriver72-web.jpg");
  min-height: 100%; }

.pimg2 {
  background-image: url("https://static.pexels.com/photos/238622/pexels-photo-238622.jpeg");
  min-height: 400px; }

.pimg3 {
  background-image: url("https://static.pexels.com/photos/302804/pexels-photo-302804.jpeg");
  min-height: 400px; }

.brand__logo {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  font-size: 47px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #fff; }

section {
  text-align: center;
  padding: 50px 80px; }

.section-dark {
  background-color: #333;
  color: #f2f2f2; }

.section-light {
  background-color: #f4f4f4; }

/*mazonry*/
.mazonry {
  column-count: 1;
  column-gap: 0; }

.item {
  /* Masonry bricks or child elements */
  background-color: #f2f2f2;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%; }

.item img {
  width: 100%; }

/*dektop*/
@media screen and (min-width: 768px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: fixed; }
  .mazonry {
    column-count: 3;
    column-gap: 0.2em; } }
